:root {
  --main-color: hsl(37, 97%, 63%);
  --component-color: hsl(193, 39%, 95%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  font: inherit;
}

body {
  background-color: var(--main-color);
  min-height: 100vh;
  margin: 0;
  line-height: 1;
  font-family: "Roboto Mono", monospace;
  display: grid;
  place-items: center;
}

/*Background and images*/
.container {
  position: relative;
  display: flex;
}

.grey_container {
  display: none;
  visibility: hidden;
}

.container .dog_image {
  position: absolute;
  top: 70%;
  width: 50%;
  left: 50%;
  transform: rotateY(180deg);
}

/*Main component*/

#main_component {
  background-color: var(--component-color);
  display: flex;
  flex-direction: column;
  border: 1rem;
  border-radius: 1rem;
  min-height: 80vh;
  padding: 0.625rem;
}

h1 {
  font-size: 1.5rem;
  padding: 20px 0 25px;
}


button {
  padding: 5px;
  border-radius: 0.5rem;
  border: none;
  background-color: darkcyan;
}

/* Breed, Weight Age section */

.manual_input {
  display: flex;
  flex-direction: column;
  padding: 0.3125rem;
  max-width: max-content;
  border: none;
  border-radius: 0.5rem;
}

.manual_input input {
  padding: 0.3125rem;
  max-width: max-content;
  border: none;
  border-radius: 0.5rem;
}

/* Toggle button start reference:  https://www.w3schools.com/howto/howto_css_switch.asp*/
.toggle {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;
}

/* Hiding default checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle_switch {
  position: absolute;
  cursor: pointer;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle_switch::before{
position: absolute;
content: "";
height: 1.625rem;
width: 1.625rem;
left: .25rem;
bottom: .25rem;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .toggle_switch {
  background-color: var(--main-color);
}

input:focus + .toggle_switch{
  box-shadow: 0 0 1px #2196F3;
}

/* Toggle button end */

/*Radio section*/

.radio {
  display: flex;
  flex-direction: column;
  border: none;
}

.manual_input label,
.dog_activity {
  padding: 10px 0 10px 0;
  font-size: 1.2rem;
  font-weight: 600;
}


/*For desktop*/

@media (min-width: 768px) {
  .container {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .grey_container {
    display: block;
    visibility: visible;
  }
  #main_component {
    position: absolute;
    display: flex;
    background-color: var(--component-color);
    border: 1rem;
    border-radius: 1rem;
    min-height: 70vh;
    top: 10%;
    margin-right: 30rem;
  }

  .container .dog_image {
    position: absolute;
    top: 10%;
    width: 45%;
    left: 50%;
    transform: rotateY(180deg);
  }
}
